.quoteContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    background-color:rgb(52, 58, 64);
    margin-bottom: 2em;
    border-radius: 10px;
    padding: 2em;
    height: auto;
    width: auto;
    min-width: auto;
    max-width: 45%;
}

.quoteFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    margin-left: 0;
    justify-content: left;
    font-size: 1vw;
}

.membersContainer {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.groupView {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 100%;
    justify-content: center;
    margin: auto;
}

.quotesView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.quoter {
    display: flex;
    justify-content: right;
    margin-right: 10%;
}

