.navbar {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    background-color: rgb(85, 92, 99);
    border-radius: 1rem;
    width: 100%;
    padding-left: 0;
}

.navbar__link,
.navbar li {
    list-style-type: none;
    color: rgb(206, 212, 218);
}

